* {
  padding: 0;
  margin: 0;
}
body {
  background-color: black;
}

#main {
  position: relative;
  display: inline-block;
}

#game-over {
  background-color: rgba(0, 0, 0, 0.897);
  width: 1280px;
  height: 768px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 72px;
  font-weight: bold;
  color: brown;
}

#infos {
  /* position: absolute;
  top: 10px;
  left: 0; */
  margin-top: 10px;
  width: 1280px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#hearts {
  color: white;
  font-size: 40px;
}

#score {
  color: white;
  font-size: 40px;
}
